@charset "UTF-8";

*/{
    padding: 0px;
    margin: 0px;
    border: 0px;
}

:root{
   --cor1:#000000;
   --cor2:#ffffff;
   --cor3:#4b4b4b;
}
body{
    background-color: #4b4b4b;
}

header{
    background-color: var(--cor1);
    color: #ffffff;
    padding-bottom: 20px;
    padding-top: 50px;
    border: #000000;
}

header > h1{
    text-align: center;
}

header > p{
    margin-top: 10px;
    padding-top: 10px;
    margin: 10px;
}

nav{
    background-color: var(--cor1);
    padding-bottom: 20px;
}

nav > a{
    text-decoration: none;
    color:var(--cor2);
    margin-left: 10px;
}

main{
    background-color: var(--cor2);
    max-width: 1100px;
    margin: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius:20px ;
    padding:20px 0px 20px 0px;

}
main > section > p{
    margin: 20px;
}

img{
    
    display: block;
    margin: auto;
}

footer{
    background-color: var(--cor1);
    color: var(--cor2);
    text-align: center;
}